---
import Page4 from '../components/page4.astro';
import Celu4 from '../components/celu4.astro';
import Celu3 from '../components/celu3.astro';
import Celu2 from '../components/celu2.astro';
import Celu1 from '../components/celu1.astro';
import Page3 from '../components/page3.astro';
import Page2 from '../components/page2.astro';
import Page1 from '../components/page1.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tomas Lotito, agente inmobiliario .">


	<main>
	 <div class="w-full h-screen hidden lg:block">
	  <Page1 />
	  <Page2 />
	  <Page3 />
	  <Page4 />
	 </div>
	 <div class="w-full h-screen lg:hidden">
	 <Celu1 />
	 <Celu2 />
	 <Celu3 />
	 <Celu4 />
	 </div>
	</main>
</Layout>
