---
import Celu from '../components/celu.astro';
import Page3 from '../components/page3.astro';
import Page2 from '../components/page2.astro';
import Page1 from '../components/page1.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tomas Lotito, agente inmobiliario .">


	<main>
	 <div class="w-full h-screen hidden lg:block">
	  <Page1 />
	  <Page2 />
	  <Page3 />
	 </div>
	 <div class="w-full h-screen lg:hidden">
	 <Celu />
	 </div>
	</main>
</Layout>
