<section id="celu2link" class="relative w-full h-screen flex-col bg-white">
 <div class="flex flex-col items-center justify-center w-full h-full py-10">
    <h1 class="text-black font-semibold text-2xl">
        Plan de marketing
    </h1>


                <p class="px-10 py-10 text-2xl sm:px-20 sm:py-20 md:px-30 md:py-30">
                    Cuando usted pone su propiedad en nuestras manos,
                    automáticamente se integra al servicio de nuestra red RE/MAX
                    que utilizamos para promocionar sus propiedades.
                </p>
                <button
                    class="py-1 px-4 h-[30px] w-[110px] rounded-lg bg-blue-400 hover:text-white hover:shadow-md flex justify-center"
                >
                    <a
                        href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2IvYy84NDZmZjgzYWNjYTIzMGQ2L0VjOUlybHVDNUU1QWtWZkpVUG8xTDY4QmFYWUdOR3pWNkc1VUVEUXJQN0Z2SUE&cid=846FF83ACCA230D6&id=846FF83ACCA230D6%21s5bae48cfe482404e9157c950fa352faf&parId=846FF83ACCA230D6%21s1db358bf08a34942b47655aa2ea2ecf6&o=OneUp"
                        class="flex justify-center items-center">Leer mas</a
                    >
                </button>
                <div class="flex w-3/4 my-5 opacity-80">
                    <img src="portal.png" alt="portales" />
                </div>
 </div>

</section>


