<section id="celu3link" class="w-full h-screen flex flex-col justify-center items-center">

       <div class="flex justify-center border-2 bg-gray-200 border-white max-w-[50%] rounded-[50%]">
           <img src="Tito.png" alt="tito" class="rounded-[50%]"/>
       </div>

       <h1 style="text-shadow: 1px 1px 2px white;" class="text-2xl font-semibold flex justify-center pt-5 text-black">Tomas Lotito</h1>
       <p class="pb-5" style="text-shadow: 1px 1px 2px white;" class="flex justify-center font-semibold text-black">agente inmobiliario</p>
       
       <div class="absolute h-screen w-full -z-20 bg-white">
        <img src="fondo-tito.png" alt="fondopng" class="h-full object-cover -z-10">
           </div>

      <button class=" border-2 rounded-xl border-black px-4 py-2 text-lg font-semibold hover:bg-black hover:text-white">Programar una cita</button>
</section>
