<section class=" flex-col justify-between h-full w-full">
    <header class="flex justify-between">
        <div class="flex justify-start">
        <img
        src="remax-loguito.png"
        alt="rmxloguito"
        class="min-h-[125px] min-w-[158px] max-w-[158px]"
        />
        </div>
        <div class="flex items-center justify-end px-10">
         <button class="flex text-white px-5 border-2 rounded-3xl bg-transparent hover:bg-gray-800">
            Menu
         </button>
        </div>
    </header>
    
    <div class="h-full">
        <h1 class="text-white text-center font-semibold text-3xl">Mudate a la vida que queres</h1>
    </div>
    
</section>


    <div class="absolute inset-0 -z-30 bg-stone-800">
        <video
            class="w-full h-full object-cover opacity-30 fixed"
            autoplay
            muted
            loop
        >
            <source src="/videos/video-1.mp4" type="video/mp4" />
        </video>
    </div>