<div class="relative h-screen">
    <div id="page2link" class="flex h-full w-full flex-col bg-white">
        <section class="flex justify-center bg-white">
            <header class="flex justify-center">
                <h1 class="text-black text-4xl font-bold py-20 flex flex-grow">
                    PLAN DE MARKETING
                </h1>
            </header>
        </section>

        <section
            class="hidden lg:flex justify-between place-self-center h-auto w-2/4 bg-white"
        >
            <div
                class="flex flex-col px-5 py-5 hover:bg-gray-100 hover:shadow-xl"
            >
                <div
                    class="flex justify-center h-80 w-80 border-2 bg-gray-200 border-gray-300"
                >
                    <img src="Tito.png" alt="tito" />
                </div>

                <h1 class="text-2xl flex justify-center pt-5">Tomas Lotito</h1>
                <p class="flex justify-center">agente inmobiliario</p>
                <a href="https://www.remax.com.ar">
                    <div class="flex justify-center items-center">
                        <img
                            src="remax-loguito.png"
                            alt="loguito"
                            class="w-3/6"
                        />
                    </div>
                </a>
            </div>

            <div
                class="flex flex-col items-center justify-center hover:bg-gray-100 hover:shadow-lg"
            >
                <p class="flex px-10 py-10 h-full text-2xl">
                    Cuando usted pone su propiedad en nuestras manos,
                    automáticamente se integra al servicio de nuestra red RE/MAX
                    que utilizamos para promocionar sus propiedades. A través
                    del mismo, más de tres mil agentes inmobiliarios de la red
                    podremos acceder a esta base de datos a la hora de tener una
                    búsqueda y ofrecer su propiedad a posibles clientes.
                </p>
                <button
                    class="py-1 px-4 h-[30px] w-[110px] rounded-lg bg-blue-400 hover:text-white hover:shadow-md flex justify-center"
                >
                    <a
                        href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2IvYy84NDZmZjgzYWNjYTIzMGQ2L0VjOUlybHVDNUU1QWtWZkpVUG8xTDY4QmFYWUdOR3pWNkc1VUVEUXJQN0Z2SUE&cid=846FF83ACCA230D6&id=846FF83ACCA230D6%21s5bae48cfe482404e9157c950fa352faf&parId=846FF83ACCA230D6%21s1db358bf08a34942b47655aa2ea2ecf6&o=OneUp"
                        class="flex justify-center items-center">Leer mas</a
                    >
                </button>
                <div class="flex justify-start w-2/4 h-2/4 my-20 opacity-80">
                    <img src="portal.png" alt="portales" />
                </div>
            </div>
        </section>
    </div>
</div>
