<section class="w-full h-4/5">
<header class="flex">
    <nav class="absolute z-10 flex justify-between w-full">
        <div class="justify-start flex-grow basis-0">
            <img
                src="remax-loogo.png"
                alt="remax logo"
                class="h-28 min-w-[294.25px]"
            />
        </div>
   
         <ul
          class="justify-center hidden lg:flex flex-grow
             text-white text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 "
         >
             <li class="hover:text-blue-500"><a href="#page2link">Plan de marketing</a></li>
             <li class="hover:text-blue-500"><a href="#page3link">Programar una cita</a></li>
             <li class="hover:text-blue-500"><a href="https://wa.me/1134101363">Contacto</a></li>
         </ul>


         <ul
             class="justify-end hidden lg:flex flex-grow basis-0
                 text-white text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
         >
             <li class="hover:text-blue-500"><a href="https://www.instagram.com/tomas.lotitoremax/"><img src="instapng.png" alt="instapng" class="size-11"></a></li>
             <li class="hover:text-blue-500"><a href="https://www.facebook.com/tomas.lotito?locale2=es_LA&_rdr"><img src="facepng.png" alt="facepng" class="size-10"></a></li>
         </ul>
    </nav>

   

    

    
</header>

<div class="absolute inset-0 w-full -z-30 bg-stone-800">
    <video
        class="w-full h-4/5 object-cover hidden lg:block opacity-30 fixed"
        autoplay
        muted
        loop
    >
        <source src="/videos/video-1.mp4" type="video/mp4" />
    </video>
</div>
<div class="flex items-center justify-center h-full">
    <h1 class="text-white lg:text-5xl font-bold px-10 text-2xl">
        ¡Mudate a la vida que querés!
    </h1>
</div>
</section>