<section class="w-full bg-white flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <a href="https://www.remax.com.ar/">
     <img src="remax-loguito.png" alt="" class="w-[116px] h-[150px]">
     </a>
    
     <h1 class="text-sm font-medium">Líder mundial en servicios inmobiliarios</h1>
    
    </div>
     <div class="flex justify-center w-full py-20">
    
       <div class="flex flex-col items-center basis-1/6">
        <a href="tel:1134101363">
        <img src="llamada.png" alt="llamada" class="size-20">
        </a>
        <h1 class="py-5">Llamanos</h1>
       </div>
    
       <div class="flex flex-col items-center basis-1/6">
        <a href="https://www.google.com/maps/place/REMAX+Tango/@-34.6342068,-58.3781736,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccb8f4ec5fd9f:0x4d98a140ea8ca77f!8m2!3d-34.6342068!4d-58.3755987!16s%2Fg%2F11gh69ww95?entry=ttu&g_ep=EgoyMDI0MDkxNS4wIKXMDSoASAFQAw%3D%3D">
        <img src="alfiler.png" alt="alfiler" class="size-20">
        </a>
        <h1 class="py-5">Encontranos</h1>
       </div>
    
       <div class="flex flex-col items-center basis-1/6">
        <a href="mailto:tomasla@remax.com.ar">
        <img src="mail.png" alt="mail" class="size-20">
        </a>
        <h1 class="py-5">Envianos un mail</h1>
       </div>
     </div>
    
    </section>