<section id="page3link" class="relative h-screen bg-white">
    <header class="flex justify-center bg-white">
        <h1 class="text-black text-4xl font-bold py-20 flex flex-grow justify-center">
            Programá una cita
        </h1>
    </header>
    <body>
     <div class="flex absolute w-full h-3/5 bg-stone-800 z-1">
         <img src="interior-1.jpg" alt="interior1"
         class="w-full h-full object-cover z-1 hidden lg:block opacity-30">
     </div>

     <section class="relative flex items-baseline justify-end h-3/5 py-20 px-20">
        <div class="w-2/6 flex flex-col relative">
       <h1 class="text-white text-5xl font-bold">
          ¿Queres saber el valor de mercado de tu propiedad?
       </h1>
       <p class="text-white hover:text-blue-500 text-lg px-5 py-10"><a href="#">Agendar una visita para conocernos</a></p>
       </div>
     </section>
        
    </body>
</section>